
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body class = "bg">
    <center>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<a href = "/play"><img src = "/images/START.png" style="width: 50%; height: 50%; outline-color: red; border-radius: 20%" id = "btn" class = "zoom"></img></a>
</center>
  </body>
</html>