
<!DOCTYPE html>
<script>function change(){
  window.location = "http://localhost:3000/"
}</script>
<html>
  <head>
    <title>pokefever result?</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

  <body>
    <embed src="/music/lose.mp3" loop="true" autostart="true" width="0" height="0">
      <embed src="/music/lose2.mp3" loop="true" autostart="true" width="0" height="0">
    <embed src="/music/lose3.mp3" loop="true" autostart="true" width="0" height="0">

    <center>
    <h1>you lost lmao get good skill issue</h1>
    <button onclick="change()">Play Again?</button>
    </center>
  </body>
</html>