
<!DOCTYPE html>
<html>
  <script>function again(){
    window.location = 'http://localhost:3000/'
  }</script>
  <head>
    <title>pokefever result?</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <embed src="\music\Hidden_Waterfall_Battle.mp3" loop="true" autostart="true" width="0" height="0">
    <center>
    <h1>you lost lmao get good skill issue</h1>
    <button onclick = "again()">play again?</button>
    </center>
  </body>
</html>