
<!DOCTYPE html>
<html>
  <head>
    <title>pokefever result?</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
    <center>
    <h1>you lost lmao get good skill issue</h1>
    </center>
  </body>
</html>