
<!DOCTYPE html>
<script>function change(){
  window.location = "http://localhost:3000/"
}
  </script>
<html>
  <head>
    <title>pokefever result!</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <embed src="/music/win.mp3" loop="true" autostart="true" width="0" height="0">
    <center>
    <h1>you won but do better</h1>
    <button onclick="change()">Play Again?</button>
    </center>
  </body>
</html>