
<!DOCTYPE html>
<html>
  <head>
    <title>pokefever result!</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
    <center>
    <h1>you won but do better</h1>
    </center>
  </body>
</html>