body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dfebed;
}
a {
  color: #00B7FF;
}

p{
  margin-top: 0px;
  margin-bottom: 6px;
}
body, html {
  height: 100%;
}
#btn{
  transition: transform 1.5s !important;
}
.zoom:hover{
  transform: scale(1.23);
}
.bg {
  z-index: -1;
  /* The image used */
  background-image: url("/images/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}